Phase-2-Architecture-réseau/SOAR-Leger/workflows/auto-unblock.json
{
  "name": "auto-unblock",
  "nodes": [
    {
      "parameters": {
        "url": "http://10.0.254.2/api/v2/firewall/alias?id=0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -16
      ],
      "id": "2f06d53a-20c6-420f-8244-1032f2daf8e4",
      "name": "pfsense alias exist ?",
      "credentials": {
        "httpBasicAuth": {
          "id": "0ItIiI9VTrE8xRop",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==============================================\n// DEBUGGABLE VERSION\n// ==============================================\n\n\nconst TTL = 10; // seconds\nconst TEST_DATE = \"2025-11-23T23:37:49.844Z\";   // your test date\n\nconst alias = items[0].json.data || items[0].json;\n\n// Normalize\nconst oldAddresses = Array.isArray(alias.address) ? alias.address : [];\nconst oldDetails = Array.isArray(alias.detail) ? alias.detail : [];\n\nconst newAddresses = [];\nconst newDetails = [];\n\nconst now = Math.floor(Date.now() / 1000);\nconst now2 = Math.floor(Date.now() / 1000);\nconst nowISO321131 = new Date().toISOString(); // current time in ISO format\n\n// Debug object\nlet debug = {\n  now,\n  TTL,\n  raw_input: {\n    addresses: oldAddresses,\n    details: oldDetails\n  },\n  processed: []\n};\n\nfor (let i = 0; i < oldDetails.length; i++) {\n  const d = oldDetails[i];\n  const ip = oldAddresses[i];\n\n  if (!d.includes('|')) continue;\n\n  const [detailIp, timestamp] = d.split('|');\n\n  let parsed = Date.parse(timestamp);\n\n  // If timestamp parsing fails → fallback to TEST_DATE for debugging\n  if (isNaN(parsed)) {\n    parsed = Date.parse(TEST_DATE);\n    debug.processed.push({\n      ip,\n      original_timestamp: timestamp,\n      fixed_timestamp: TEST_DATE,\n      parsed: parsed,\n      fallback: true\n    });\n  } else {\n    debug.processed.push({\n      ip,\n      original_timestamp: timestamp,\n      parsed: parsed,\n      fallback: false\n    });\n  }\n\n  const t = Math.floor(parsed / 1000);\n  const age = now - t;\n\n  debug.processed[debug.processed.length - 1].age = age;\n  debug.processed[debug.processed.length - 1].keep = (age < TTL);\n\n  if (age < TTL) {\n    newAddresses.push(ip);\n    newDetails.push(d);\n  }\n}\n\n// Detect change\nlet changed = false;\n\nif (newAddresses.length !== oldAddresses.length) {\n  changed = true;\n} else {\n  const oldSet = new Set(oldAddresses);\n  const newSet = new Set(newAddresses);\n  for (const a of oldSet) {\n    if (!newSet.has(a)) {\n      changed = true;\n      break;\n    }\n  }\n}\n\ndebug.output = {\n  kept_addresses: newAddresses,\n  kept_details: newDetails,\n  changed\n};\n\n// Return everything, including debug\nreturn [{\n  json: {\n    changed,\n    aliasId: alias.id || 0,\n    body: {\n      nowiso1: nowISO321131,\n      id: alias.id || 0,\n      name: alias.name || \"autoblock\",\n      type: \"host\",\n      descr: \"autoblock (managed by n8n)\",\n      address: newAddresses,\n      detail: newDetails\n    },\n    debug  // ← FULL DEBUG OUTPUT\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -16
      ],
      "id": "e6277170-06af-460a-8f13-34036930cd1a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://10.0.254.2/api/v2/firewall/alias",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "0"
            },
            {
              "name": "name",
              "value": "autoblock"
            },
            {
              "name": "type",
              "value": "host"
            },
            {
              "name": "descr",
              "value": "={{ $json.body.descr }}"
            },
            {
              "name": "address",
              "value": "={{ $json.body.address }}"
            },
            {
              "name": "detail",
              "value": "={{ $json.body.detail }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -16
      ],
      "id": "31e54e4e-6368-405f-8dfb-f89c0447bbba",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "0ItIiI9VTrE8xRop",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.254.2/api/v2/firewall/apply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        -16
      ],
      "id": "1622c8a1-5ceb-4546-820d-4a0694af65b4",
      "name": "HTTP Request2",
      "credentials": {
        "httpBasicAuth": {
          "id": "0ItIiI9VTrE8xRop",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/60 * * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -16
      ],
      "id": "622a3783-e945-48f3-9762-91c8766a871d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "pfsense alias exist ?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "pfsense alias exist ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8c5b0cb8-7442-4eb2-ad4e-4e895496c061",
  "meta": {
    "instanceId": "4a71f1fa5e3266c1dd7a09b96ea78c1af12b1e9a7e24a66309b4869c7f378164"
  },
  "id": "AklpoRpGLZ1WtQOK",
  "tags": []
}